@import "tailwindcss";

@theme {
  --color-bg: #090914;
  --color-card: #13122b;
  --color-border: #322b61;
  --color-accent: #db2777; /* Pink 600 */
  --color-accent-soft: #f472b6; /* Pink 400 */
  --color-text-main: #f8fafc;
  --color-subtext: #94a3b8;
  --color-danger: #ef4444;

  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    font-family: var(--font-inter);
  }
}
